%table.table.table-striped
  %thead
    %tr
      %th Number
      %th User
      %th Level
      %th Elapsed time, mcs
      %th Steps
      %th Last Submit Time
  %tbody
  - @maze_results.each_with_index do |res, i|
    %tr
      %td= i + 1
      %td= res.maze_user.name
      %td= res.level_id
      %td= res.elapsed_mcs
      %td= res.steps
      %td= l(res.created_at, format: :long)
