%table.table.table-striped
  %thead
    %tr
      %th User
      %th Level
      %th Elapsed time, mcs
      %th Steps
      %th When
  %tbody
  - @maze_results.each do |res|
    %tr
      %td= res.maze_user.name
      %td= res.level_id
      %td= res.elapsed_mcs
      %td= res.steps
      %td= res.created_at
