%h2
  ТОП по #{@criteria} на уровне #{@level_id}
%table.table.table-striped
  %thead
    %tr
      %th Place
      %th User
      - if action_name == "top_time"
        %th Elapsed time, mcs
      - else
        %th Steps
      %th Attempts
      %th Best Attempt Time
  %tbody
  - @maze_results.each_with_index do |res, i|
    %tr
      %td= i+1
      %td= link_to_user(res.maze_user_id)
      - if action_name == "top_time"
        %td= res.elapsed_mcs
      - else
        %td= res.steps
      %td= MazeResult.where(maze_user_id: res.maze_user_id).count
      %td= l(res.created_at, format: :long)
